header {
    background-color: #244751;
    color: #e8fdff;
}

body {
    background-color: whitesmoke;
    font-family: 'Questrial', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
    transition: padding 0.5s;
}

.finstagram-post .user-info h2:hover {
    color: slategray; 
    transition: color 0.5s;
}

.finstagram-post .user-info h2 {
    transition: color 0.5s;
}

.form-group {
    margin: auto;
    width: 100%;
    padding: 10px;
}